<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Change Password Form</title>
</head>
<body>
	<section class="w">
	<div class="form-gap"></div>
	<div class="container m">
	<div class="row justify-content-center text-align-center">
		<div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa-solid fa-lock-open fa-beat fa-4x"></i></h3>
                  <h2 class="text-center">Enter New Password</h2>
                  <div class="panel-body">
    				
                    <form th:action="@{/change-password}" method="post">
    					
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input required="required" id="email" name="newpassword" placeholder="Enter new password here" class="form-control"  type="password">
                        </div>
                      </div>
                      <br>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Change password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
		            </div>
		          </div>
			</div>
</div>
	</section>
</body>
</html>